@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.grid_noticias
{
    background-color: cornflowerblue;
    text-align: center;
    margin: 0 auto;
}

h2
{
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
}

.cards
{
    background-color: #dcdcdc;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 50px;
    border-radius: 20px;
}