@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

main
{
    padding: 100px 0;
}

img
{
    width: 300px;
    margin-left: 120px;
}

form
{
    width: 40%;
    height: 400px;
    margin: 0 auto;
    padding: 100px 0;
    background-color: #353859;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 60px;
}

form button
{
    width: 60%;
    margin: 0 auto;
}

.campo_label
{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

input
{
    text-indent: 5px;
}

input, button
{
    height: 35px;
    border-radius: 4px;
    border: none;
}

button
{
    background-color: red;
    color: white;
}

button:hover
{
    cursor: pointer;
}

p
{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    margin: 20px;
    text-transform: uppercase;
}